@import '../style/index.scss';

.post-view {
  margin: 1em 0;
  .post-card > .content {
    margin: 2em auto;
    padding: 0;
    max-width: 39em;
  }
  & > .comment {
    margin: 1em 0;
  }
  & > .back {
    display: block;
    text-align: center;
    margin: 1em auto;
    padding: 0.5em;
    max-width: 15em;
    background-color: $blue-700;
    color: $blue-100;
    border-radius: 0.2em;
    &:hover {
      background-color: $blue-600;
    }
  }
}
