@import '../style/index.scss';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    & > .content {
      max-width: $tablet-size;
      margin: 0 auto 1.8em;
      padding: 0 0.5em;
      color: $grey-600;
      font-size: 0.8em;
      p {
        margin: 0.4em 0;
      }
    }
}
