@import '../style/index.scss';

header {
  width: 100%;
  min-height: $header-height;
  line-height: $header-height;

  background: $green-700;
  color: $grey-100;
  border-bottom: 1px solid $green-800;

  & > .content {
    box-sizing: border-box;
    max-width: $tablet-size;
    margin: 0 auto;
    padding: 0 1em;
    & > h1 {
      display: inline-block;
      margin: 0;
      font-weight: normal;
      font-size: 1.6em;
      vertical-align: middle;
      a {
        color: $grey-100;
      }
    }
    & > .language-selector {
      font-size: 1.1em;
      float: right;
      .button a {
        color: $green-300;
      }
      & > .drop-down-component > .content {
        margin-top: -0.3em;
      }
    }
    & > nav {
      display: inline-block;
      vertical-align: middle;
      & > ul {
        display: inline-block;
        list-style-type: none;
        margin: 0 0.6em;
        padding: 0;
        & > li {
          display: inline-block;
          padding: 0 0.4em;
          font-size: 1.1em;
          a {
            color: $green-300;
          }
        }
      }
    }
    @media screen and (max-width: 25em) {
      & > nav {
        display: block;
        line-height: 2.4em;
        & > ul {
          display: block;
        }
        /* & > ul > li {
          display: block;
          text-align: center;
        } */
      }
    }
  }
}
