@import '../style/index.scss';

.post-renderer {
  color: $grey-800;
  text-align: justify;
  // This is required to keep the list style same inside article list or not.
  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    & > a.anchor {
      &:before {
        content: '#';
      }
    }
  }
}
